duckdb==1.5.2
fastparquet==2026.3.0
pandas==3.0.2
polars==1.40.0
pyarrow==23.0.1
pre-commit==4.5.1
ruff==0.15.11
mypy==1.20.1
pytest==9.0.3
langfuse==4.3.1
langchain==1.2.15
langchain_openai==1.1.16
langchain-anthropic==1.4.1
langgraph==1.1.9
